.card {
  margin-top: 10px;  
}
.open-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: royalblue;
  border: none;
  border-radius: 4px;
  text-decoration: none;

  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 2px 6px 2px 6px;
  }
}

.fav-icon:hover {
  cursor: pointer;
}