@keyframes input6-animation {
  0% {
    box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
  }
  25% {
    box-shadow: -2px 2px 8px 1px #aa00ff, 2px -2px 8px 1px #3700ff;
  }
  50% {
    box-shadow: 2px 2px 8px 1px #aa00ff, -2px -2px 8px 1px #3700ff;
  }
  75% {
    box-shadow: 2px -2px 8px 1px #aa00ff, -2px 2px 8px 1px #3700ff;
  }
  100% {
    box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
  }
}

.login-button, .demo-button {
  margin-top: 1rem;

  &:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
}

.signup-link:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

#formUsername:focus, #formPassword:focus {
  animation: input6-animation 2s infinite linear;
}